# Graph Backend Configuration
# Backend driver / provider identifier.
# Currently supported:
# memgraph for Memgraph
# age for Apache AGE
#
CGDB_BACKEND=memgraph
# Connection info / DSN or host:port as required by backend implementation
# Example for Memgraph: bolt://localhost:7687
CGDB_CINFO=
# Graph / database (logical) name if applicable
CGDB_GRAPH=


